.sidebar{
    position: relative;
    /* left: -120%; */
     /* use this left property while making sidebar navigation in mobile version to hide and show the sidebar  */
    background-image: linear-gradient(rgb(151, 235, 235),rgb(97, 179, 179));
    color: black;
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
/* .sidebar::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -20%; 
     if this is -10 then main sidebar left will be 110  for 100% hide and show 
    top: 0%;
    background-image: linear-gradient(rgb(151, 235, 235),rgb(97, 179, 179));
    z-index: -100;
} */

.sidebar .panels{
    position: absolute;
    top: 10%;
    /* left: 5%; */
}
.link{
    text-decoration: none;
    color: black;
    
}
.link div{
    /* padding: 5% 20% 8% 5%; */
    margin: 8% 0;
}

 .signOut{
    position: absolute;
    bottom: 10%;
}


/* @media screen and (max-width:400px){
    .sidebar{
        width: 0%;
    }
}
@media screen and (min-width:400px){
    .sidebar{
        width: 100%;
    }
} */